@tailwind base;
@tailwind components;
@tailwind utilities;

.root-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .root-container {
    flex-direction: column;
  }
}